.countryList {
    display: flex;
    flex-direction: column;
    padding: 48px 80px;
}

.country__search {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2em;
}

.filter__refresh {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2em;
}

.refresh__btn {
    background-color: hsl(var(--clr-bg-alt));
    color: hsl(var(--clr-fg));
    border: none;
    padding: 1em;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    box-shadow: 0px 0px 7px 2px hsla(var(--clr-bg), 0.03);
}

.refresh__btn:hover,
.refresh__btn:focus {
    cursor: pointer;
    box-shadow: 2px 2px 3px hsla(var(--clr-bg), 0.3);
}

.message__container {
    display: grid;
    place-content: center;
}

.country__grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    gap: 75px;
}



@media screen and (max-width: 768px) {

    .country__search {
        flex-direction: column;
        /* width: 100%; */
        align-content: flex-start;
    }

    .country__grid {
        gap: 3em;
    }

}