.countryList {
    display: flex;
    flex-direction: column;
    padding: 48px 80px;
}


.country__search {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2em;
}

.searchBar {
    justify-self: flex-start;
}

.filter {
    justify-self: flex-end;
}


.country__grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    gap: 75px;
}

@media screen and (max-width: 768px) {

    .country__search {
        flex-direction: column;
        /* width: 100%; */
        align-content: flex-start;
    }

    .country__grid {
        gap: 3em;
    }

}