.search {
    width: 480px;
    overflow: hidden;
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0px 0px 7px 2px hsla(var(--clr-bg-alt), 0.03);
}

.search:focus-within {
    box-shadow: 2px 2px 3px hsla(var(--clr-fg-alt), 0.2);
}

.search__button,
.search__input {
    background-color: hsl(var(--clr-bg-alt));
    color: hsl(var(--clr-fg-alt));
    border: none;
    outline: none;
}

.search__input {
    padding: 1em;
    width: 85%;
}

.search__input::placeholder {
    color: hsl(var(--clr-fg-alt));
}

.search__button {
    width: 20%;
    font-size: 18px;
    padding-left: 0.5em;
    display: grid;
    place-content: center;
}

@media screen and (max-width: 768px) {
    .search {
        width: 100%;
        font-size: 0.75rem;
    }
}