.search {
    width: 480px;
    overflow: hidden;
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0px 0px 7px 2px hsla(0, 0%, 0%, 0.03);
}

.search:focus-within {
    /* box-shadow: 2px 2px 5px #000; */
    box-shadow: 2px 2px 3px hsl(var(--clr-drk-gray));
}

.search__button,
.search__input {
    background-color: #fff;
    border: none;
    outline: none;
}

.search__input {
    padding: 1em;
    width: 85%;
}

.search__button {
    width: 20%;
    font-size: 18px;
    padding-left: 0.5em;
    color: gray;
    display: grid;
    place-content: center;
}

@media screen and (max-width: 768px) {
    .search {
        width: 100%;
        font-size: 12px;
    }
}