@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.light {
    --clr-bg: 0, 0%, 98%;
    --clr-bg-alt: 0, 0%, 100%;
    --clr-fg: 200, 15%, 8%;
    --clr-fg-alt: 0, 0%, 52%;
}

.dark {
    --clr-bg: 207, 26%, 17%;
    --clr-bg-alt: 209, 23%, 22%;
    --clr-fg: 0, 0%, 100%;
    --clr-fg-alt: 0, 0%, 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: hsl(var(--clr-fg));
    font-size: 0.875rem;
    background-color: hsl(var(--clr-bg));
}

header {
    width: 100%;
    background-color: hsl(var(--clr-bg-alt));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 5em;
}

header h1 {
    font-size: 1.5rem;
    line-height: 33px;
}

.theme__btn {
    cursor: pointer;
    background-color: transparent;
    color: hsl(var(--clr-fg));
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.theme__btn--icon {
    font-size: 1.25rem;
}

.theme__btn--text {
    font-weight: 600;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 0.875rem;
        line-height: 20px;
    }

    .theme__btn--icon {
        font-size: 1rem;
    }

    .theme__btn--text {
        font-size: 0.75rem;
    }
}