/* Country Card Styles */
.card {
    justify-self: center;
    width: 265px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-radius: 5px;
    overflow: hidden;
    background-color: hsl(var(--clr-white));
    box-shadow: 0px 0px 7px 2px hsla(0, 0%, 0%, 0.03);

}

.card__image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card__data {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card__data--title {
    font-size: 18px;
    margin-top: 10px;
}

.card__data--info {
    font-weight: 300;
}

.strong {
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .card {
        /* width: 100%; */
    }
}